* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(22, 22, 23, .8);

    height: 7vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}



.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50vh;
    top: 7vh;
    color: white;
    background-color: rgba(22, 22, 23, .8);

    /*這裡應該要用甚麼來定位*/
    padding-left: 20%;
    padding-top: 1.5rem;

    display: flex;

}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul li {
    margin-top: 0.5rem;
    margin-right: 2.5rem;
}

.dropdown-menu ul:nth-child(1) li {
    margin-right: 5rem;
}

.dropdown-menu ul li:first-child {
    color: rgba(255, 255, 255, .8);

}

.dropdown-menu ul:nth-child(1) li:not(:first-child) {
    font-size: 1.7rem;
    font-weight: bold;
}




/*
.dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    background-color: rgba(22, 22, 23, .8);
    width: 100vw;


    height: 50vh;
    top: calc(100%+0.25rem);

    color: white;
    opacity: 1;
    transform: translateY(-10px);

    transition: opacity 350ms ease-in-out, tansform 350ms ease-in-out;

    pointer-events: none;
}

*/

.header {
    margin-top: 9vh;
    text-align: center;
}


a+a {
    margin-left: 15px
}


.firstImage {
    display: flex;
    background-image: url('appleImg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 20px;
    padding-bottom: 650px;

    margin-top: 15px;
}

.firstImage .container {
    color: white;
    max-width: 200px;
    /*為什麼這個可以調整text的位置?*/

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


.container a {
    text-decoration: none;
    color: #2997FF;
}

.container a:hover {
    text-decoration: underline;
}

.secondImage {
    display: flex;
    background-image: url('appleImg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 650px;
    margin-top: 15px;
}


.secondImage .container {
    color: black;
    max-width: 200px;
    /*為什麼這個可以調整text的位置?*/

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


/*

.sideBar {
    display: flex;
    flex-direction: column;
    position: sticky;
margin-left: 80vw;
bottom: 500px;

}

*/