* {
    margin: 0;
    padding: 0;
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(22, 22, 23, .8);
    height: 7vh;
    padding-top: 4px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}



.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}





.dropdown {
    position: relative
}


.dropdown-menu {
    position: absolute;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;


    background-color: rgba(22, 22, 23, .8);
    width: 100vw; /* Set a fixed or appropriate width */

    height: 50vh;
    top: calc(100%);

    color: white;
    opacity: 0; 
    transform: translateY(-10px);

    transition: opacity 350ms ease-in-out, tansform 350ms ease-in-out; 

    pointer-events: none;
}

.navbar > a:focus + .dropdown-menu{
    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu p{

    margin-top: 1rem;   

}



.firstImage {
    margin-top: 10px;
}

.secondImage {
    margin-top: 10px;
}



.mainContent {
    margin-top: 7vh;
    text-align: center;
}

.mainContent a {
    text-decoration: none;
}

.homepageCollection{
    overflow: auto; 
}

.homepageCollection img+ {
    margin-top: 50px;
    display: block;
}

.textinImage {
    position: absolute;
    color: white;
    left: 50%;
    top: 5%;
    font-size: 3.5rem;
    transform: translate(-50%, -50%);

}

.textinImage1 {
    position: absolute;
    color: white;
    left: 50%;
    top: 12%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
}

.linkInImage {
    position: absolute;

    left: 50%;
    top: 18%;
    font-size: 1.1rem;

    transform: translate(-50%, -50%);
}

.linkInImage a {
    text-decoration: none;
    color: #2997FF;
}

.linkInImage a:hover {
    text-decoration: underline;
}

.firstImage {
    position: relative;
}

.secondImage {
    position: relative;
}

.secondImage .textinImage {
    color: black;
}

.secondImage .textinImage1 {
    color: black;
}

a+a {
    margin-left: 20px
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: sticky; /* From the top */ /* From the right */
    margin-left: 80vw;
    bottom: 500px; 

}