* {
    margin: 0;
    padding: 0;
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(250, 250, 252, .8);
    height: 7vh;
    padding-top: 10px;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mainContent {
    margin-top: 7vh;
    text-align: center;
}

.mainContent a {
    text-decoration: none;
}

.homepageCollection img+ {
    margin-top: 50px;
    display: block;
}

.textinImage {
    position: absolute;
    color: white;
    left: 50%;
    top: 5%;
    font-size: 3.5rem;
    transform: translate(-50%, -50%);

}

.textinImage1 {
    position: absolute;
    color: white;
    left: 50%;
    top: 12%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
}

.linkInImage {
    position: absolute;
    color: white;
    left: 50%;
    top: 17%;
    font-size: 1.5rem;

    transform: translate(-50%, -50%);
}

.linkInImage a {
    text-decoration: none;
    color: #2997FF;
}

.firstImage {
    position: relative;
}

.secondImage {
    position: relative;
}

.linkInImage:nth-child(2) {
    color: black;
}